In [189]:
import pandas as pd
import pandasql as ps
import sqlalchemy as sal
from sqlalchemy import create_engine
import socket

In [190]:
try:
    engine = create_engine('postgresql://postgres:146146@localhost/Proje')
    print('Connected to database.')
except Exception as e:
    print('Connection Error.')

Connected to database.

In [191]:
barcodeno = 1

In [192]:
food = pd.read_sql_query('select * from food where barcodeno = ' + str(barcodeno),con=engine)
food

   barcodeno foodname    brand  weightvolume ingredients
0          1    ekmek  firinci           200          un

In [193]:
allergen_id = pd.read_sql_query('select * from food_contains where barcodeno = ' + str(barcodeno),con=engine)['allergenid'].values

In [194]:
allergen_id

array([1, 2], dtype=int64)

In [195]:
allergen_names = []
for i in allergen_id:
    allergen_names.append(pd.read_sql_query('select * from allergen where allergenid = ' + str(i),con=engine)['allergenname'].values[0])
allergen_names

['gluten', 'findik']

In [196]:
nutritions = pd.read_sql_query('select * from nutrition where barcodeno= ' + str(barcodeno),con=engine).drop(columns = ["barcodeno"])
nutritions

   fat  protein  carbs  calorie
0   20       10     75      300

In [197]:
nutritions.T[0].to_json()

'{"fat":20,"protein":10,"carbs":75,"calorie":300}'

In [198]:
result = food.copy()
result["allergenname"] = str(allergen_names)
result["nutritions"] = nutritions.T[0].to_json()

In [199]:
result

,barcodeno,foodname,brand,weightvolume,ingredients,allergenname,nutritions
0,1,ekmek,firinci,200,un,"['gluten', 'findik']","{""fat"":20,""protein"":10,""carbs"":75,""calorie"":300}"

In [200]:
# convert to json
test_data = result.to_json(orient='records')
print(test_data)

[{"barcodeno":1,"foodname":"ekmek","brand":"firinci","weightvolume":200,"ingredients":"un","allergenname":"['gluten', 'findik']","nutritions":"{\"fat\":20,\"protein\":10,\"carbs\":75,\"calorie\":300}"}]