In [1]:
import pandas as pd

In [2]:
data = "[{\"barcodeno\":1,\"foodname\":\"ekmek\",\"brand\":\"firinci\",\"weightvolume\":200,\"ingredients\":\"un\",\"fat\":20,\"protein\":10,\"carbs\":75,\"calorie\":300,\"allergennames\":\"['gluten', 'findik']\"}]"

In [3]:
t = pd.read_json(data)

In [4]:
t

,barcodeno,foodname,brand,weightvolume,ingredients,fat,protein,carbs,calorie,allergennames
0,1,ekmek,firinci,200,un,20,10,75,300,"['gluten', 'findik']"