In [1]:
import pandas as pd
import pandasql as ps
import sqlalchemy as sal
from sqlalchemy import create_engine
import socket

In [2]:
try:
    engine = create_engine('postgresql://postgres:146146@localhost/Proje')
    print('Connected to database.')
except Exception as e:
    print('Connection Error.')

Connected to database.

In [89]:
foodname = "ek"

In [90]:
query = 'select * from food where foodname ilike \'%%' + foodname + "%%\'"
food = pd.read_sql_query(query ,con=engine)[["barcodeno","brand","foodname"]]
food.head(10)

   barcodeno    brand foodname
0          1  firinci    ekmek
1          2      Eti      kek

In [92]:
import numpy as np

In [103]:
food.to_json(orient='records')

'[{"barcodeno":1,"brand":"firinci","foodname":"ekmek"},{"barcodeno":2,"brand":"Eti","foodname":"kek"}]'

In [46]:
barcodeno = 1

In [47]:
food = pd.read_sql_query('select * from food where barcodeno = ' + str(barcodeno),con=engine)
food

   barcodeno foodname    brand  weightvolume ingredients
0          1    ekmek  firinci           200          un

In [48]:
allergen_id = pd.read_sql_query('select * from food_contains where barcodeno = ' + str(barcodeno),con=engine)['allergenid'].values

In [49]:
allergen_id

array([1, 2], dtype=int64)

In [50]:
allergen_names = []
for i in allergen_id:
    allergen_names.append(pd.read_sql_query('select * from allergen where allergenid = ' + str(i),con=engine)['allergenname'].values[0])
allergen_names

['gluten', 'findik']

In [51]:
nutritions = pd.read_sql_query('select * from nutrition where barcodeno= ' + str(barcodeno),con=engine).drop(columns = ["barcodeno"])
nutritions

   fat  protein  carbs  calorie
0   20       10     75      300

In [52]:
nutritions.T[0].to_json()

'{"fat":20,"protein":10,"carbs":75,"calorie":300}'

In [53]:
food

   barcodeno foodname    brand  weightvolume ingredients
0          1    ekmek  firinci           200          un

In [54]:
allergen_names

['gluten', 'findik']

In [55]:
result = pd.concat([food,nutritions], axis=1)
result["allergennames"] = str(allergen_names)

In [56]:
result

,barcodeno,foodname,brand,weightvolume,ingredients,fat,protein,carbs,calorie,allergennames
0,1,ekmek,firinci,200,un,20,10,75,300,"['gluten', 'findik']"

In [3]:
# convert to json
test_data = result.to_json(orient='records')
print(test_data)

NameError: name 'result' is not defined

In [4]:
# retrieve all allergen table
query = 'select * from allergen'
allergen = pd.read_sql_query(query ,con=engine)

In [6]:
allergen

KeyError: 0